{% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}

<section class="pop-up-products">
  {% for product in settings.selected_products %}
      <div class="pop-up-product" >
        <div class="product-image">
            {% render 'product-media-gallery', product: product, variant_images: variant_images, limit: 1 %}
        </div>
        <div class="product-info">
            <div>
                <div class="product-info-image">
                {% render 'product-media-modal', product: product, variant_images: variant_images %}
                </div>
                <div class="info-context">
    
                    <h2 class="product-title}" >
                      {{ product.title }}
                  </h2>
                   
                    <div class="product-price">
                    
                    {%- render 'price',
                      product: product,
                      placeholder: placeholder,
                      use_variant: true,
                      show_badges: true,
                      price_class: 'price--large'
                    -%}
                  
                    </div>
                    <div class="product-description">
                    </div>
                </div>
            </div>
            <div class="product-variants">
              
            </div>
            <div class="buy-now-button">
            </div>
        </div>
      </div>
    {% endfor %}
  </section>

<style>
.product-list-selector {
  /* Add your styles here */
}
</style>
{% schema %}
{
  "name": "Product Blocks",
  "settings": [],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "selected_product",
          "label": "Select a Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Blocks",
      "category": "Custom"
    }
  ]
}
{% endschema %}